
config mgmt mgmt
	option enabled 0
	option log_level info
	option log_file console
	option datadir /var/lib/netbird/
	option dns_domain "netbird."
	option metrics_port 9090
	option port 33073
	option disable_anonymous_metrics 1
	# list env FOO=bar

	# NOTE: mgmt needs to edit config on the first run
	option allow_config_edit 1

config relay relay
	option enabled 0

config signal signal
	option enabled 0
	option log_level info
	option log_file console
	option metrics_port 9092
	option port 10000
	option cert_file ''
	option cert_key ''
	list env 'NB_PPROF_ADDR='

config dashboard dashboard
	option enabled 0
