
config mgmt mgmt
	option enabled 0
	option log_level info
	option log_file console
	option datadir /var/lib/netbird/
	option dns_domain "netbird."
	option metrics_port 9090
	option port 33073
	option disable_anonymous_metrics 1
	list env 'NB_PPROF_ADDR='

	# NOTE: mgmt needs to edit config on the first run
	option allow_config_edit 1

config relay relay
	option enabled 0
	option log_level info
	option log_file console
	option metrics_port 9091
	option listen_address ':33080'
	option exposed_address 'rels://netbird.example.com:33080/relay'
	option auth_secret 'secret'
	option cert_file ''
	option cert_key ''
	list env 'NB_PPROF_ADDR='

config signal signal
	option enabled 0
	option log_level info
	option log_file console
	option metrics_port 9092
	option port 10000
	option cert_file ''
	option cert_key ''
	list env 'NB_PPROF_ADDR='

config dashboard dashboard
	option enabled 0
	option listen_address '127.0.0.1:33081'
	# see variables in docker-compose.yml
	list env 'NETBIRD_MGMT_API_ENDPOINT=https://netbird.example.com:33073'
	list env 'NETBIRD_MGMT_GRPC_API_ENDPOINT=https://netbird.example.com:33073'
	# OIDC (authelia specific!)
	list env 'AUTH_AUDIENCE=none'
	list env 'AUTH_CLIENT_ID=netbird'
	list env 'AUTH_CLIENT_SECRET=secret'
	list env 'AUTH_AUTHORITY=https://sso.example.com'
	list env 'USE_AUTH0=false'
	list env 'AUTH_SUPPORTED_SCOPES=openid email profile'
	list env 'AUTH_REDIRECT_URI=/peers'
	list env 'AUTH_SILENT_REDIRECT_URI=/add-peers'
	list env 'NETBIRD_TOKEN_SOURCE=idToken'
